# Environment
NODE_ENV=test

# Server settings
DATA_DIR=/app/data
SESSION_SECRET=123
FIRST_ADMIN_EMAIL=admin@example.com

# Ports and URLS
UI_PORT=443
OLLAMA_HOST=https://ollama.internal:11434
SERVER_PROTOCOL=http
SERVER_HOST=localhost
SERVER_PORT=3000

# AWS settings
AWS_ACCESS_KEY_ID=someId
AWS_SECRET_ACCESS_KEY=someKey
AWS_REGION=us-west-2
S3_BUCKET=example-bucket-name
SES_FROM_EMAIL=noreply@example.com

# feature flags
AUTH_ENABLED=true
DATA_EXPLORER_ENABLED=false
