*, *:before, *:after { box-sizing: border-box; }

html, body, #root {
  font-size: 16px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  background: var(--background);
  color: var(--text);
}

:root {
  color-scheme: dark;
  --white: #f9f5d7;
  --black: #1d2021;
  --text: light-dark(var(--black), var(--white));
  --text-alt: light-dark(var(--white), var(--black));
  --content-background: light-dark(var(--white), #333);

  --red: #cc241d;
  --red-alt: light-dark(#9d0006, #fb4934);
  --green: #98971a;
  --green-alt: light-dark(#79740e, #b8bb26);
  --yellow: #d79921;
  --yellow-alt: light-dark(#b57614, #fabd2f);
  --blue: #458588;
  --blue-alt: light-dark(#076678, #83a598);
  --purple: #b16286;
  --purple-alt: light-dark(#8f3f71, #d3869b);
  --aqua: #689d6a;
  --aqua-alt: light-dark(#427b58, #8ec07c);
  --orange: #d65d0e;
  --orange-alt: light-dark(#af3a03, #fe8019);
  --grey: #928374;
  --grey-light: #a89984;
  --grey-light1: #bdae93;
  --grey-light2: #d5c4a1;
  --grey-light3: #ebdbb2;
  --grey-light4: #fbf1c7;
  --grey-dark: #7c6f64;
  --grey-dark1: #665c54;
  --grey-dark2: #504945;
  --grey-dark3: #3c3836;
  --grey-dark4: #282828;
  --grey-alt: light-dark(var(--grey-dark), var(--grey-light));
  --bg: light-dark(var(--grey-light4), var(--grey-dark4));
  --bg0_s: light-dark(#f2e5bc, #32302f);
  --bg1: light-dark(var(--grey-light3), var(--grey-dark3));
  --bg2: light-dark(var(--grey-light2), var(--grey-dark2));
  --bg3: light-dark(var(--grey-light1), var(--grey-dark1));
  --bg4: light-dark(var(--grey-light), var(--grey-dark));
  --fg: light-dark(var(--grey-dark3), var(--grey-light3));
  --fg0: light-dark(var(--grey-dark4), var(--grey-light4));
  --fg1: light-dark(var(--grey-dark3), var(--grey-light3));
  --fg2: light-dark(var(--grey-dark2), var(--grey-light2));
  --fg3: light-dark(var(--grey-dark1), var(--grey-light1));
  --fg4: light-dark(var(--grey-dark), var(--grey-dark));

  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 64px;

  --fz-xs:   0.50rem;
  --fz-sm:   0.75rem;
  --fz-md:   1.00rem;
  --fz-lg:   1.50rem;
  --fz-xl:   2.00rem;
  --fz-xxl:  2.50rem;
  --fz-xxxl: 3.00rem;

  --br: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  border: 1px solid var(--bg);
  padding: var(--space-sm);
}

input:invalid {
  border: 2px solid var(--red);
  padding: 3px;
}

input:focus {
  outline: none;
  border: 1px solid var(--blue);
  padding: 4px;
}

button {
  background: var(--aqua);
  border: none;
  border-radius: var(--br);
  box-shadow: 1px 1px 2px #222;
  color: snow;
  display: block;
  font-size: var(--fz-lg);
  font-weight: bold;
  margin: 0;
  padding: var(--space-md);
  text-align: center;
  text-decoration: none;
  transform: translatex(0) translatey(0);
  transition: all .18s ease-in-out;
  cursor: pointer;
}

button:active {
  background: var(--aqua-alt);
}

button:focus {
  background: var(--aqua-alt);
  box-shadow: 0px 0px 2px #222;
  transform: translatex(1px) translatey(1px);
}

button:disabled {
  cursor: not-allowed;
  filter: grayscale();
}

.grid--content {
  grid-area: content;
}

.grid--nav {
  grid-area: nav;
}

.grid--footer {
  grid-area: footer;
}


/* components */
.h-space {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-sm);
  align-items: center;
}

.v-space {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: var(--space-sm);
}

.w-100 {
  width: 100%;
}

.p-xxs { padding: var(--space-xxs); }
.p-xs { padding: var(--space-xs); }
.p-sm { padding: var(--space-sm); }
.p-md { padding: var(--space-md); }
.p-lg { padding: var(--space-lg); }
.p-xl { padding: var(--space-xl); }

.m-xxs { margin: var(--space-xxs) }
.m-xs { margin: var(--space-xs); }
.m-sm { margin: var(--space-sm); }
.m-md { margin: var(--space-md); }
.m-lg { margin: var(--space-lg); }
.m-xl { margin: var(--space-xl); }

.mt-xxs { margin-top: var(--space-xxs) }
.mt-xs { margin-top: var(--space-xs); }
.mt-sm { margin-top: var(--space-sm); }
.mt-md { margin-top: var(--space-md); }
.mt-lg { margin-top: var(--space-lg); }
.mt-xl { margin-top: var(--space-xl); }

.mb-xxs { margin-bottom: var(--space-xxs) }
.mb-xs { margin-bottom: var(--space-xs); }
.mb-sm { margin-bottom: var(--space-sm); }
.mb-md { margin-bottom: var(--space-md); }
.mb-lg { margin-bottom: var(--space-lg); }
.mb-xl { margin-bottom: var(--space-xl); }


.gap-xxs { gap: var(--space-xxs) }
.gap-xs { gap: var(--space-xs); }
.gap-sm { gap: var(--space-sm); }
.gap-md { gap: var(--space-md); }
.gap-lg { gap: var(--space-lg); }
.gap-xl { gap: var(--space-xl); }

.c-white { color: var(--white); }
.c-black { color: var(--black); }
.c-text { color: var(--text); }
.c-text-alt { color: var(--text-inverse); }
.c-content-background { color: var(--content-background); }
.c-red { color: var(--red); }
.c-red-alt { color: var(--red-alt); }
.c-green { color: var(--green); }
.c-green-alt { color: var(--green-alt); }
.c-yellow { color: var(--yellow); }
.c-yellow-alt { color: var(--yellow-alt); }
.c-blue { color: var(--blue); }
.c-blue-alt { color: var(--blue-alt); }
.c-purple { color: var(--purple); }
.c-purple-alt { color: var(--purple-alt); }
.c-aqua { color: var(--aqua); }
.c-aqua-alt { color: var(--aqua-alt); }
.c-orange { color: var(--orange); }
.c-orange-alt { color: var(--orange-alt); }
.c-grey { color: var(--grey); }
.c-grey-light { color: var(--grey-light); }
.c-grey-light1 { color: var(--grey-light1); }
.c-grey-light2 { color: var(--grey-light2); }
.c-grey-light3 { color: var(--grey-light3); }
.c-grey-light4 { color: var(--grey-light4); }
.c-grey-dark { color: var(--grey-dark); }
.c-grey-dark1 { color: var(--grey-dark1); }
.c-grey-dark2 { color: var(--grey-dark2); }
.c-grey-dark3 { color: var(--grey-dark3); }
.c-grey-dark4 { color: var(--grey-dark4); }
.c-grey-alt { color: var(--grey-alt); }
.c-bg { color: var(--bg); }
.c-bg0_s { color: var(--bg0_s); }
.c-bg1 { color: var(--bg1); }
.c-bg2 { color: var(--bg2); }
.c-bg3 { color: var(--bg3); }
.c-bg4 { color: var(--bg4); }
.c-fg { color: var(--fg); }
.c-fg0 { color: var(--fg0); }
.c-fg1 { color: var(--fg1); }
.c-fg2 { color: var(--fg2); }
.c-fg3 { color: var(--fg3); }
.c-fg4 { color: var(--fg4); }

.bg-white { background-color: var(--white); }
.bg-black { background-color: var(--black); }
.bg-text { background-color: var(--text); }
.bg-text-alt { background-color: var(--text-inverse); }
.bg-content-background { background-color: var(--content-background); }
.bg-red { background-color: var(--red); }
.bg-red-alt { background-color: var(--red-alt); }
.bg-green { background-color: var(--green); }
.bg-green-alt { background-color: var(--green-alt); }
.bg-yellow { background-color: var(--yellow); }
.bg-yellow-alt { background-color: var(--yellow-alt); }
.bg-blue { background-color: var(--blue); }
.bg-blue-alt { background-color: var(--blue-alt); }
.bg-purple { background-color: var(--purple); }
.bg-purple-alt { background-color: var(--purple-alt); }
.bg-aqua { background-color: var(--aqua); }
.bg-aqua-alt { background-color: var(--aqua-alt); }
.bg-orange { background-color: var(--orange); }
.bg-orange-alt { background-color: var(--orange-alt); }
.bg-grey { background-color: var(--grey); }
.bg-grey-light { background-color: var(--grey-light); }
.bg-grey-light1 { background-color: var(--grey-light1); }
.bg-grey-light2 { background-color: var(--grey-light2); }
.bg-grey-light3 { background-color: var(--grey-light3); }
.bg-grey-light4 { background-color: var(--grey-light4); }
.bg-grey-dark { background-color: var(--grey-dark); }
.bg-grey-dark1 { background-color: var(--grey-dark1); }
.bg-grey-dark2 { background-color: var(--grey-dark2); }
.bg-grey-dark3 { background-color: var(--grey-dark3); }
.bg-grey-dark4 { background-color: var(--grey-dark4); }
.bg-grey-alt { background-color: var(--grey-alt); }
.bg-bg { background-color: var(--bg); }
.bg-bg0_s { background-color: var(--bg0_s); }
.bg-bg1 { background-color: var(--bg1); }
.bg-bg2 { background-color: var(--bg2); }
.bg-bg3 { background-color: var(--bg3); }
.bg-bg4 { background-color: var(--bg4); }
.bg-fg { background-color: var(--fg); }
.bg-fg0 { background-color: var(--fg0); }
.bg-fg1 { background-color: var(--fg1); }
.bg-fg2 { background-color: var(--fg2); }
.bg-fg3 { background-color: var(--fg3); }
.bg-fg4 { background-color: var(--fg4); }

.fz-xs { font-size: var(--fz-xs); }
.fz-sm { font-size: var(--fz-sm); }
.fz-md { font-size: var(--fz-md); }
.fz-lg { font-size: var(--fz-lg); }
.fz-xl { font-size: var(--fz-xl); }
.fz-xxl { font-size: var(--fz-xxl); }
.fz-xxxl { font-size: var(--fz-xxxl); }

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.card {
  background: var(--content-background);

  .card--title,
  .card--content{
    padding: var(--space-md);
  }

  .card--title {
    border-bottom: 1px solid var(--background);
  }
}
