.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: var(--aqua);
  border-bottom: 1px solid var(--fg);
  
  button {
    background: none;
    border: none;
    box-shadow: none;
  }

  h2 {
    flex-grow: 1;
    padding: var(--space-md);
  }
}

